<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    h5 {
      color: chocolate;
    }
  </style>
</head>

<body>
  <header>
    <h1> NorthCoders News</h1>
  </header>
  <section>
    <h3>GET /api/topics</h2>
    <h5>Get all the topics</h5>
    <h2>GET /api/topics/:topic_slug/articles</h2>
    <h5>Return all the articles for a certain topic  e.g: `/api/topics/football/articles`</h5>
    <h2>POST /api/topics/:topic_slug/articles</h2>
    <h5>Add a new article to a topic. This route requires a JSON body with title and body key value pairs  e.g: `{ "title": "new
    article", "body": "This is my new article content", "created_by": "user_id goes here"}`</h5>
    <h2>GET /api/articles</h2>
    <h5>Get an individual article</h5>
    <h2>GET /api/articles/users/:_id</h2>
    <h5>Get article by user id</h5>
    <h2>GET /api/articles/:article_id/comments</h2>
    <h5>Get all the comments for a individual article</h5>
    <h2>POST /api/articles/:article_id/comments</h2>
    <h5>Add a new comment to an article. This route requires a JSON body with body and created_by key value pairs # e.g: `{"body":
    "This is my new comment", "created_by": "user_id goes here"}`</h5>
    <h2>PATCH /api/articles/:article_id</h2>
    <h5>Increment or Decrement the votes of an article by one. This route requires a vote query of 'up' or 'down'  e.g: `/api/articles/:article_id?vote=up`</h5>
    <h2>PATCH /api/comments/:comment_id</h2>
    <h5>Increment or Decrement the votes of a comment by one. This route requires a vote query of 'up' or 'down' e.g: `/api/comments/:comment_id?vote=down`</h5>
    <h2>DELETE /api/comments/:comment_id</h2>
    <h5> Deletes a comment</h5>
    <h2>GET /api/comments/users/:_id</h2>
    <h5>Get comments by user id</h5>
    <h2>GET /api/users/:username</h2>
     h2>GET /api/users/</h2>
    <h5>Get all users</h5>
    <h5>e.g: `/api/users/mitch125` # Returns a JSON object with the profile data for the specified user.</h5>
  </section>
</body>

</html>
